body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff; /* Set the default text color to white */
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.intro {
    padding: 20px;
    color: #fff; /* Ensure the text color in intro section is white */
}

.intro p {
    margin: 20px 0;
    font-size: 18px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #333;
}

.project {
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff; /* Set text color to white for project descriptions */
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project p {
    margin-top: 10px;
    font-size: 16px;
    color: #fff; /* Ensure text is white within project description */
}

.resume {
    padding: 20px;
    background-color: #000;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    color: #fff; /* Ensure text is white in resume section */
}

.pdf-preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.resume-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff; /* Change text color in the button to white */
    text-decoration: none;
    border-radius: 5px;
}

.resume-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #222;
}
